gitignore
Ignore node_modules folder
node_modules/

Ignore .env file containing sensitive data
.env

Ignore npm logs
npm-debug.log
yarn-debug.log
yarn-error.log

Ignore OS-specific files
.DS_Store
Thumbs.db

Ignore auth.json or other sensitive JSON files
auth.json
